html, body{
	margin: 0 0;
	padding: 0 0;
	background-color: #605b55;
}

.btn.btn-primary{
	width: 20vw;
	background-color: #f99109;
	border-color: #262422;
}

.greeting{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
	color: #fff;
	font-family: 'Righteous', cursive;
	font-size: 65px;
	font-weight: normal; 
	line-height: 60px;
	margin: 10px 0 20px; 
	text-transform: uppercase; 
	text-shadow: 2px 2px 0 #000, margin: 10px 0 24px; 
	text-align: center;
}

.bottom-arrow{
	position: absolute;
	top: 75%;
    left: 75%;
    width: 20vw;
    height: auto;
    transform: translate(-25%, -25%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-horizontal .form-group{
	margin: 0 0;
}

#switcher{
	margin: 5px 0;
}

.control-label.col-md-2{
	padding-top: 0;
	margin: 5px 0;
}

form{
	margin-top: 10px;
	color: #262420;
}

label{
	text-align: right;
	margin-top: 5px;
	padding-top: 0;
}

.btn1{
	margin-bottom: 30vh;
	margin-top: 5px;
}